.main-container {
  @include radial-gradient($background-gradient);
  min-height: 100vh;
  padding: $space-l;
  overflow-x: hidden;
  text-align: center;
  position: relative;
  z-index: 1;
  .main,
  .header-section {
    @include mx(auto);
  }
  .header-section {
    max-width: 37.5rem;
  }
  .main {
    &.pre-start {
      max-width: 30rem;
    }
    &.did-start {
      max-width: 55rem;
    }
  }
  @media screen and (min-width: ($sc-mobile + 1)) and (max-width: $sc-tablet) {
    .main {
      margin-top: $space-xl * 2;
    }
  }
  @media screen and (max-width: $sc-mobile) {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    > * {
      flex: 1 0 100%;
    }
  }
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid $header-outline;
  border-radius: $radius;
  padding: $space-m;
  margin-bottom: $space-s;
}

.pentagon {
  background-image: url("/assets/bg-pentagon.svg");
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: $space-m;
  > :nth-child(1) {
    grid-area: 1 / 1;
    translate: 50% 15%;
  }
  $row-2-corr-x: 11%;
  $row-2-corr-y: 19%;
  > :nth-child(2) {
    grid-area: 2 / 1;
    translate: (-$row-2-corr-x) (-$row-2-corr-y);
  }
  > :nth-child(3) {
    grid-area: 2 / 2;
    translate: ($row-2-corr-x) (-$row-2-corr-y);
  }
  $row-3-corr-x: 12%;
  $row-3-corr-y: 11%;
  > :nth-child(4) {
    grid-area: 3 / 1;
    translate: ($row-3-corr-x) (-$row-3-corr-y);
  }
  > :nth-child(5) {
    grid-area: 3 / 2;
    translate: (-$row-3-corr-x) (-$row-3-corr-y);
  }
  @media screen and (max-width: $sc-mobile) {
    $row-2-corr-x: 17%;
    $row-2-corr-y: 23%;
    > :nth-child(2) {
      translate: (-$row-2-corr-x) (-$row-2-corr-y);
    }
    > :nth-child(3) {
      translate: ($row-2-corr-x) (-$row-2-corr-y);
    }
    $row-3-corr-x: 9%;
    $row-3-corr-y: 20%;
    > :nth-child(4) {
      translate: ($row-3-corr-x) (-$row-3-corr-y);
    }
    > :nth-child(5) {
      translate: (-$row-3-corr-x) (-$row-3-corr-y);
    }
  }
}

.deck-layout {
  padding-top: $space-v-l;
  display: flex;
  justify-content: center;
  gap: $space-xl;
  .result {
    align-self: center;
    font-size: 2.5em;
    p {
      margin-bottom: 0;
    }
  }
  .pick-label {
    padding-bottom: $space-l;
  }
  > * {
    flex: 1 1 20%;
  }
  @media screen and (max-width: $sc-tablet) {
    padding-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $space-l;
    .result {
      grid-area: 2 / 1 / auto / span 2;
      font-size: 3.5em;
      p {
        margin-top: 0;
      }
    }
    div:has(.pick-label) {
      display: flex;
      flex-direction: column-reverse;
      gap: $space-l;
      > * {
        flex-grow: 1;
      }
      .pick-label {
        padding: 0;
      }
    }
  }
}

.rules-btn-container {
  position: absolute;
  right: $space-l;
  bottom: $space-l;
  @media screen and (max-width: $sc-mobile) {
    position: static;
  }
}

.rules-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  .modal-bg {
    background-color: $bg-dark-transparent;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  .rules-modal {
    border-radius: $radius / 2;
    background-color: $bg-light;
    padding: $space-l;
    color: $text-dark;
    box-shadow: $shadow-3;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: $space-l;
  }
  .rules-content {
    grid-area: 2 / 1 / auto / span 2;
  }
  @media screen and (max-width: $sc-mobile) {
    .rules-modal {
      width: 100%;
      height: 100%;
      border-radius: 0;
      display: flex;
      flex-wrap: wrap;
      align-content: space-around;
      justify-content: center;
      .rules-title {
        text-align: center;
        font-size: 3em;
      }
      .rules-content {
        width: 100%;
      }
      .close-modal > img {
        @include box(2em);
      }
    }
  }
}
