* {
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
  text-transform: uppercase;
}
html {
  font-size: $fs-1;
}
body {
  margin: 0;
  font-weight: $fw-semibold;
  color: $text-light;
  letter-spacing: 0.15rem;
}
button {
  font-size: 1rem;
}
